.body {
    /* 
    two custom properties that are set dynamically based 
    on the computed width of the nav element.

    --nav-width: ?;
    --nav-width-offset: ?; 
    */

    --menu-transition: 1s ease-in-out;
    --content-transition: 0.8s ease-in-out;
    display: grid;
    /* grid-template: 1fr/ 130px 6fr; */
    grid-template: 1fr/ 130px minmax(100px, 6fr);
    position: relative;
}

.nav {
    background-color: var(--bg-color-2);
    border-radius: var(--border-rad);
    padding: 5px 10px;
    position: relative;
    transition: transform var(--menu-transition),
        color var(--color-transition-time),
        background-color var(--color-transition-time);
    width: 111px;
}

.nav>ul {
    list-style: none;
}

.nav-off {
    position: relative;
    transform: translateX(var(--nav-width-offset));
}

.content {
    margin: 0px 5px;
    transition: transform var(--content-transition);
    overflow-wrap: break-word;
    /* grid-column: 2 / 3;
    grid-row: 1 / -1;
    transition: grid-column var(--menu-transition); */
}

.content.nav-gone {
    transform: translateX(var(--nav-width));
    /* grid-column: 1 / 3; */
    width: 95vw; /* bit of a hack, dinnae like it */
}

@media only screen and (max-width: 320px) {
    .content {
        grid-template:
            1fr / 1fr;
    }
}