@font-face {
    font-family: alfa;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

body {
    background-color: var(--c1);
    color: var(--text-1);
}

.main {
    display: grid;
    grid-template:
        4rem calc(100vh - 4rem) / 2fr 8fr;
    margin: 5px;
}

.header {
    display: grid;
    grid-column: 1 / -1;
    grid-template: 1fr / 1fr 6fr;

    margin-bottom: 5px;

    border-radius: 5px;
    background-color: var(--c4);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: alfa;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 320px) {
    .content {
        grid-template:
            1fr / 1fr;
    }
}