:root {
    --margin-left: 10px;
    --margin-right: 10px;
    --border-rad: 10px;
    --color-transition-time: 1s;
}

* {
    padding: 0px;
    margin: 0px;
    transition: color var(--color-transition-time),
        background-color var(--color-transition-time);
}

.dark {
    --bg-color-1: #261c2c;
    --bg-color-2: #3e2c41;
    --bg-color-3: #5c527f;
    --accent: #6e85b2;

    --text-1: white;
    --text-2: black;
    --burger-icon: url('../img/menu-light.png');
    --theme-icon: url('../img/sun.png');
}

.light {
    --bg-color-1: #f4f9f9;
    --bg-color-2: #ccf2f4;
    --bg-color-3: #AAAAAA;
    --accent: #a4ebf3;

    --text-1: black;
    --text-2: white;
    --burger-icon: url('../img/menu-dark.png');
    --theme-icon: url('../img/moon.png');
}

@font-face {
    font-family: alfa;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: bungee;
    src: url('../fonts/BungeeShade-Regular.ttf');
}



body {
    background-color: var(--bg-color-1);
    color: var(--text-1);
    padding: 0px;
    margin: 0px;

}

.main {
    display: flex;
    flex-flow: column nowrap;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

.hidden {
    display: none;
}