:root {
    --margin-left: 10px;
    --margin-right: 10px;
    --border-rad: 10px;
}

.dark {
    --bg-color-1: #261c2c;
    --bg-color-2: #3e2c41;
    --bg-color-3: #5c527f;
    --accent: #6e85b2;

    --text-1: white;
    --text-2: black;
}

.light {
    --bg-color-1: #f4f9f9;
    --bg-color-2: #ccf2f4;
    --bg-color-3: #AAAAAA;
    --accent: #a4ebf3;

    --text-1: black;
    --text-2: white;
}

@font-face {
    font-family: alfa;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: bungee;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--bg-color-1);
    color: var(--text-1);
    padding: 0px;
    margin: 0px;
}