:root {
    --margin-main: 100px;
    --border-rad: 10px;
    font-size: 10pt;
    font-family: opensans;

    --bg-color-1: #f4f9f9;
    --bg-color-2: #e44232;
    --bg-color-3: #d3d3d3;
    --accent: #fca199;

    --text-1: black;
    --text-2: white;
    --burger-icon: url('../img/menu-dark.png');
    --theme-icon: url('../img/moon.png');

    --theme-transition-speed: 1s;
}

* {
    padding: 0px;
    margin: 0px;
    transition: color var(--theme-transition-speed),
        background-color var(--theme-transition-speed);

}

.dark {
    --bg-color-1: #261c2c;
    --bg-color-2: #3e2c41;
    --bg-color-3: #5c527f;
    --accent: #6e85b2;

    --text-1: white;
    --text-2: black;
    --burger-icon: url('../img/menu-light.png');
    --theme-icon: url('../img/sunWhite.png');
}

@font-face {
    font-family: alfa;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: bungee;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--bg-color-1);
    color: var(--text-1);

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}




.main {
    display: flex;
    justify-content: center;

    /* margin: 0 var(--margin-main); */
}


/* HEADER */

.header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 2;

    /* border-radius: var(--border-rad); */
    background-color: var(--bg-color-2);
    height: 3.5rem;
    font-size: 1.2rem;

    margin-bottom: 5px;
    /* margin-top: 5px; */
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent);
    border-radius: var(--border-rad);
    font-family: bungee;
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 4px black;
    padding: 10px;
    margin: 10px;

}

.header-title>span {
    background-color: var(--accent);
    border-radius: 4px;

    padding: 5px 10px;
}

.header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-button {
    background-color: var(--accent);
    border-radius: 5px;

    padding: 2px 5px;
    margin: 0px 5px;
}

.menu-button:hover {
    background-color: var(--bg-color-3);
    box-shadow: 2px 2px 10px var(--text-2);
    outline: var(--text-2) solid 1px;

    transition: color 0.2s;
}

.menu-button:active {
    background-color: var(--bg-color-1);
    box-shadow: 2px 2px 10px var(--text-1);

}

li.menu-button {
    margin: 5px 0px;
}

button.hamburger {
    width: 25px;
    height: 25px;

    background-image: var(--burger-icon);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent);
    border: 0px
        /* solid var(--bg-color-1)*/
    ;
    border-radius: 5px;

    margin: 0px 10px;
    padding: 5px;

    transition: transform 0.3s cubic-bezier(.61, -0.37, .54, 1.78);
    transform-origin: center;
}

button.hamburger:hover {
    background-color: var(--bg-color-3);

    transform: scale(1.2);
}

.change-theme {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
}

.change-theme>div {
    width: 10px;
    height: 10px;

    background-image: var(--theme-icon);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    border-radius: 5px;

    padding: 5px;

    transition: 0.3s cubic-bezier(.61, -0.37, .54, 1.78);
}

.change-theme>div:hover {
    transform: scale(1.3);
}

/* CONTENT */

.content {
    --content-padding: 10px;
    display: flex;
    flex: 1 1 0;

    overflow-wrap: break-word;
    overflow: hidden;
    background-color: var(--bg-color-3);
    border-radius: 10px;
    max-width: 600px;
    padding: var(--content-padding);

    transition: color var(--theme-transition-speed),
        background-color var(--theme-transition-speed),
        transform var(--theme-transition-speed);
}



.nav {

    position: absolute;
    overflow: hidden;
    /* top: set in dom.js */

    min-width: 100px;
    background-color: var(--bg-color-2);
    border-radius: 0px 0px 5px 5px;

    padding: 5px 10px;

    /*
    Nav is hidden upon loading and dom.js removes .hidden class
    after 200ms (corresponding to the transition time). this stops
    the nav transforming to scale(0) after loading, which shows
    the nav briefly - bit of a hack?!
    */
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scaleY(0);
    transform-origin: top center;
}

.nav-open {
    display: inline;
    transform: scaleY(1);
}

.nav>ul {
    list-style: none;
}

/* ADD TODO */

div.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    width: 100%;

    margin: 10px;
}

/* TODO CARD */
.todo-cards,
.project-cards {
    display: grid;
    gap: 10px;
    justify-items: center;

    width: 100%;
}

.todo-cards {
    grid-template: 1fr / repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.project-cards {
    grid-template: 1fr / 1fr;
    grid-auto-flow: 1fr;
}

.todo-card,
.project-card {
    background-color: var(--bg-color-1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    display: grid;


    padding: 10px;
}

.todo-card {
    grid-template: calc(1.2rem + 20px) 6rem 2fr 1fr 1fr / repeat(2, 1fr);

    width: 90%;

}

.project-card {
    grid-template: calc(1.2rem + 20px) 6rem 6rem 2fr / repeat(2, 1fr);;

    width: 95%;
}




.todo-card:hover,
.project-card:hover {
    border: 1px solid var(--text-1);
    box-shadow: 5px 5px 15px var(--accent);
}

.todo-card>*,
.project-card>* {
    /*position of all cells bar the bottom cell is to span 2 grid tracks*/
    grid-column: 2 span;
    font-size: 1rem;
}

.todo-card>.title,
.project-card>.title {
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 1.2em;
}

.notes {
    margin: 10px 0px;
}

.notes,
.todo-card>.description,
.project-card>.description {
    background-color: var(--bg-color-3);
    border-radius: 10px;
    position: relative;

    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;

    font-size: 0.8em;
}

.todo-card>.checklist {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.todo-card>.checklist>.checklist-item {
    display: grid;
    grid-template: 1fr/ 1fr 4fr;
}

.summary {
    background-color: var(--accent);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0px;
}

.project-card>.summary {
    margin-top: 0px;
}

.project-card>.bottom-cell,
.todo-card>.bottom-cell,
.todo-card>.project-info {
    font-size: 0.8em;
}

.todo-card>.project-info>span:first-child,
.todo-card>.bottom-cell>div>span:nth-child(1) {
    font-weight: bold;
}

.project-card>.bottom-cell,
.todo-card>.bottom-cell {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
}
.project-card>.bottom-cell>div:first-child,
.todo-card>.bottom-cell>div:first-child {
    margin-right: auto;
}


/* TOOL TIP */

.tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    /* transform: translate(-50%, -50%); */
    display: none;
    background-color: var(--text-1);
    color: var(--text-2);
    padding: 5px;
    border-radius: var(--border-rad);
}

.description:hover .tooltip,
.notes:hover .tooltip {
    display: block;
}

.description:focus .tooltip,
.notes:focus .tooltip {
    display: none;
}

/* HIDDEN */

.hidden {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 655px) {
    .body {
        height: 100vh;
    }

    .content {
        margin: 0 10px;
        flex-wrap: nowrap;
    }

    .todo-cards {
        grid-template-columns: 1fr;
    }

    .todo-card,
    .project-card {
        min-width: 240px;
        width: 95%;
    }
}