:root {
    --margin-main: 100px;
    --border-rad: 10px;
    font-size: 10pt;
    font-family: opensans;

    --bg-color-1: #f4f9f9;
    --bg-color-2: #e44232;
    --bg-color-3: #d3d3d3;
    --accent: #fca199;

    --text-1: black;
    --text-2: white;
    --burger-icon: url('../img/menu-dark.png');
    --theme-icon: url('../img/moon.png');

    --theme-transition-speed: 1s;
}

* {
    padding: 0px;
    margin: 0px;
    transition: color var(--theme-transition-speed),
        background-color var(--theme-transition-speed);

}

.dark {
    --bg-color-1: #261c2c;
    --bg-color-2: #3e2c41;
    --bg-color-3: #5c527f;
    --accent: #6e85b2;

    --text-1: white;
    --text-2: black;
    --burger-icon: url('../img/menu-light.png');
    --theme-icon: url('../img/sunWhite.png');
}

@font-face {
    font-family: alfa;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
    font-family: bungee;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--bg-color-1);
    color: var(--text-1);

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;

    /* margin: 0 var(--margin-main); */
}


/* HEADER */

.header {
    display: flex;
    position: sticky;
    top: 0px;

    /* border-radius: var(--border-rad); */
    background-color: var(--bg-color-2);
    height: 3.5rem;
    font-size: 1.2rem;

    margin-bottom: 5px;
    /* margin-top: 5px; */
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent);
    border-radius: var(--border-rad);
    font-family: bungee;
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 4px black;
    padding: 10px;
    margin: 10px;

}

.header-title>span {
    background-color: var(--accent);
    border-radius: 4px;

    padding: 5px 10px;
}

.header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-body>span {
    margin: 0px 5px;
}

button.hamburger {
    width: 25px;
    height: 25px;

    background-image: var(--burger-icon);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent);
    border: 0px
        /* solid var(--bg-color-1)*/
    ;
    border-radius: 5px;

    margin: 0px 10px;
    padding: 5px;

    transition: transform 0.3s cubic-bezier(.61, -0.37, .54, 1.78);
    transform-origin: center;
}

button.hamburger:hover {
    background-color: var(--bg-color-3);

    transform: scale(1.2);
}

.change-theme {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
}

.change-theme>div {
    width: 10px;
    height: 10px;

    background-image: var(--theme-icon);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    border-radius: 5px;

    padding: 5px;

    transition: 0.3s cubic-bezier(.61, -0.37, .54, 1.78);
}

.change-theme>div:hover {
    transform: scale(1.3);
}

/* CONTENT */

.content {
    display: flex;
    flex: 1 1 0;

    overflow-wrap: break-word;
    overflow: hidden;
    background-color: var(--bg-color-3);
    border-radius: 5px;
    max-width: 600px;
    padding: 5px 10px;

    transition: color var(--theme-transition-speed),
        background-color var(--theme-transition-speed),
        transform var(--theme-transition-speed);
}

@media only screen and (max-width: 800px) {
    .content {
        margin: 0 10px;
    }
}

.nav {
    
    position: absolute;
    overflow: hidden;
    /* top: set in dom.js */

    min-width: 100px;
    background-color: var(--bg-color-2);
    border-radius: 0px 0px 5px 5px;

    padding: 5px 10px;

    /*
    Nav is hidden upon loading and dom.js removes .hidden class
    after 200ms (corresponding to the transition time). this stops
    the nav transforming to scale(0) after loading, which shows
    the nav briefly - bit of a hack?!
    */
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scaleY(0);
    transform-origin: top center;
}

.nav-open {
    display: inline;
    transform: scaleY(1);
}

.nav>ul {
    list-style: none;
}

/* HIDDEN */
.hidden {
    display: none;
}