.modal-active {
    overflow: hidden;
}

select.section-input,
.section-label,
.section-input,
.checklist-section>button,
.checklist-section,
.checklist-text {
    background-color: var(--text-2);
    border-radius: var(--border-rad);
    border: 1px solid var(--text-1);
}

.todo-editor-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 0px;
    bottom: 0px;

    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

    padding: 20px;
}

#todo-editor-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 50%;
    background-color: var(--bg-color-3);
    border-radius: 10px;
    color: var(--text-1);

    padding: 10px;
}

.section {
    display: flex;
    position: relative;

    width: 100%;

    margin: 10px 0px;
}

.section.two-cell {
    display: grid;
    grid-template: 1fr/ repeat(2, 1fr);
    column-gap: 10px;
}

#title-field {
    font-size: 1.2em;
    font-weight: bold;
}

#desc-field {
    font-size: 1em;
}

.section>textarea {
    resize: vertical;
    font-family: inherit;
}

.section-label {
    position: absolute;
    top: -0.4em;
    left: 0.5em;

    background-color: var(--text-2);
    font-size: 0.65em;

    padding: 0.05em 0.5em;
}

.section-input {
    flex-grow: 1;

    color: var(--text-1);

    padding: 0.8em 0.5em 0.5em 0.5em;
}

.checklist-section {
    position: relative;

    background-color: var(--accent);

    padding: 1.2em 1em 1em 1em;
}

.checklist-list-item {
    display: grid;
    grid-template: 1fr/ 1fr 7fr;
    column-gap: 10px;

    margin: 12px 0px;
}

.checklist-new-item {
    display: grid;
    grid-template: 1fr/ 1fr 6fr 1fr;
    column-gap: 10px;

    margin: 12px 0px;
}

.new-item {
    margin-top: 15px;
}

.checklist-section>.checklist-item>.section {
    width: 100%;
    margin: 0px;
    
}

.checklist-text {
    width: 100%;
    padding: 0px 10px;

    font-size: 0.8em;

    color: var(--text-1);
}

#todo-editor-form button {
    border: 0px;
    border-radius: var(--border-rad);
    height: 2.5rem;
}

#todo-editor-form button:hover {
    background-color: var(--bg-color-2);
    transition: background-color 0.1s;
}

#todo-editor-form button:active {
    background-color: var(--bg-color-1);
    transition: none;
}

#save-todo-button {
    width: 50px;

    padding: 5px 10px;
    margin-top: 5px;
}

#add-todo-button {
    align-self: center;
}

@media only screen and (max-width: 750px) {
    #todo-editor-form {
        width: 95%;
    }
}
