:root {
  --square-dimension: 45px;
  --border-color: rgb(160, 151, 247);
}

/* Board */

.container-board {
  display: grid;
  grid-template: 1fr/ repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  width: 100%;

  border: 1px solid blueviolet;
}

.container-ship-placer {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.container-ship-placer>div{
  border: 1px solid green;
}

.board {
  display: flex;
  flex-direction: column;
  
  border: 1px solid var(--border-color);
}

.board>.row {
  display: flex;
  flex-direction: row;
}

.board .square {
  height: var(--square-dimension);
  width: var(--square-dimension);
  box-sizing: border-box;
}

#boardPlayer .board.square.ship {
  background-color: lightgreen;
}

.board.square.struck {
  background-color: rgb(182, 182, 182);
  /* border: 3px solid black; */
}
#boardPlayer .board.square.struck.ship,
#boardComputer .board.square.struck.ship {
  background-color:crimson;
}

.ship-chooser {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 10px;
}

.ship-chooser-ship {
  display: flex;
  flex-direction: row;
}

.ship-chooser-ship>div {
  display: flex;
  flex-direction: row;
  border: 1px solid goldenrod;
}

.ship-chooser-ship>div>div{
  width: var(--square-dimension);
  height: var(--square-dimension);
  border: 1px solid goldenrod;
}

.hidden {
  display: none;
}
