:root {
  --square-dimension: 45px;
  --border-color: rgb(160, 151, 247);
}

/* Board */

div.board-container {
  display: grid;
  grid-template: 1fr/ repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  width: 100%;

  border: 1px solid blueviolet;
}

.board {
  display: flex;
  flex-direction: column;
  
  border: 2px solid var(--border-color);
}

.board>.row {
  display: flex;
  flex-direction: row;
}

/* Board square borders */

.board .square {
  height: var(--square-dimension);
  width: var(--square-dimension);

  /* border: 1px solid blue; */
}

.board.square.ship {
  background-color: chartreuse;
}

.board.square.struck-hit {
  background-color: green;
}

.board.square.struck-miss {
  background-color: red;
}