#board {
    --cell-dim: 100px;
    --border-width: 2px;
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    justify-items: center;
    width: calc(calc(3*var(--cell-dim)) + calc(var(--border-width) * 2));
    gap: var(--border-width);
    background-color: grey;
    border: var(--border-width) solid grey;
    border-radius: 10px;
}

.board-cell {
    background-color: rgb(182, 182, 182);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.board-cell:hover {
    background-color: rgb(250, 141, 141);
}

.board-cell.empty:hover {
    background-color: aqua;
}