body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: rgb(35, 32, 41);
}

#app-container {
  border: 1px solid red;
  font-family: 'Courier New', Courier, monospace;
}

#section-info {
  position: relative;
  background-color: blueviolet;
}

#section-info>p>span:first-child {
  font-weight: 1000;
  font-size: large;
}

#edit-btn-info {
  position: absolute;
  top: 0;
  right: 0;
}

#section-education {
  background-color: green;
}

#section-work {
  background-color: rgb(165, 125, 25);
}

.container-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-modal {
  background-color: aqua;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}